
projects/CarouselExperiments/.idea/vcs.xml
projects/CarouselExperiments/.idea/misc.xml
projects/CarouselExperiments/.idea/jarRepositories.xml
projects/CarouselExperiments/.idea/gradle.xml
projects/CarouselExperiments/.idea/compiler.xml
.DS_Store