<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.support.constraint.app">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeveloperTemplate">

        <activity android:name=".CheckSharedValues"/>

        <activity android:name=".VerificationActivity" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ButtonDriveAnimate" />
        <activity android:name=".OnCreateTransiton" />
        <activity android:name=".ParseLayouts" />

        <activity android:name=".RotationActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".RotationUsingRotateTo"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".RotationAngular"
            android:configChanges="orientation|screenSize"/>
         <activity android:name=".CustomSwipeClick" />
         <activity android:name=".RotationToolbar"
            android:label="To Run Disable Animation"
        android:configChanges="orientation|screenSize"/>
        <activity android:name=".RotationRotateToToolbar"
            android:label="To Run Disable Animation"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".ConstraintSetVerify"
            android:label="Test ConstraintSet on ConstraintLayout"
            />
        <activity android:name=".CheckCallbackActivity" />
        <activity android:name=".CheckSetStates" />
        <activity android:name=".Bug010" />
        <activity android:name=".FullScreenActivity" />
        <activity android:name=".CheckSetProgress" />
        <activity android:name=".CheckDumpJson" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CheckCLPlugin"/>
        <activity android:name=".CheckCSTypes"/>
        <activity android:name=".CheckPerformanceMetric" />
    </application>

</manifest>
